{% extends "base.html" %}
{% block content %}
<h2>Submit a Query</h2>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>{{ form.department.label }}<br>{{ form.department() }}</p>
    <p>{{ form.description.label }}<br>{{ form.description(cols=40, rows=5) }}</p>
    <p>{{ form.date.label }}<br>{{ form.date() }}</p>
    <p>{{ form.suggestion.label }}<br>{{ form.suggestion(cols=40, rows=5) }}</p>
    <p>{{ form.image_file.label }}<br>{{ form.image_file() }}</p>
    <p>{{ form.geolocation.label }}<br>{{ form.geolocation(size=32) }}</p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
