{% extends "base.html" %}

{% block content %}
<div class="about-container">
    <div class="about-images">
        <img src="{{ url_for('static', filename='bbmp.jpg') }}" alt="BBMP" class="about-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4d/Bbmp..jpg" alt="BBMP" class="about-image">
    </div>
    <div class="about-content">
        <h1>About US</h1>
        <h3><strong>
            Bruhat Bengaluru Mahanagara Palike
        </strong></h3>
        <p>
            The Bruhat Bengaluru Mahanagara Palike (BBMP) is the administrative body responsible for the civic and infrastructural assets of the Greater Bangalore metropolitan area. It oversees various essential services such as health, education, public infrastructure, and community services, ensuring a better quality of life for the residents of Bangalore.
        </p>
        <p>
            Bruhat Bengaluru Mahanagara Palike (BBMP) is the administrative body responsible for civic amenities and some infrastructural assets of the Greater Bengaluru metropolitan area. It is the fourth largest Municipal Corporation in India and is responsible for a population of 8.4 million in an area of 741 km². Its boundaries have expanded more than 10 times over the last six decades.
        </p>
        <p>
            Its roles and responsibilities include the "orderly development of the city" — zoning and building regulations, health, hygiene, licensing, trade and education, as well as quality of life issues such as public open space, water bodies, parks, and greenery.
        </p>
        <p>
            The BBMP represents the third level of government (the Central Government and State Government being the first two levels). BBMP is run by a city council composed of elected representatives, called "corporators", one from each of the wards (localities) of the city. A range of other statutory authorities exercise certain municipal responsibilities (e.g., the Bangalore Development Authority, and BESCOM).
        </p>
        <p>
            The elections to the council are held once every five years, with results being decided by popular vote. The members contesting elections to the council represent one or more of the state's political parties.
        </p>
        <p><strong>This project was created by students of DSCE.</strong></p>
    </div>
</div>
{% endblock %}